<!DOCTYPE html>
<html lang="en">

<head>
 <meta charset="UTF-8">
 <meta name="viewport" content="width=device-width, initial-scale=1.0">
 <title>Portfolio</title>
 <link rel="stylesheet" href="/adminPage.css">
</head>

<body>
 <header>
  <a href="/admin/users" class="myHome">Admin Profile</a>
  <nav>
   <a class="editP" href="users/update">Update A User</a>
   <a class="unappUsers" href="users/unapproved">Unapproved Users</a>
  </nav>
 </header>

 <h1>Welcome {{data.firstName}}!</h1>
 <br>
 <p> First Name: {{data.firstName}}</p>
 <p> Last Name: {{data.lastName}}</p>
 <p> E-mail: {{data.email}}</p>
 <p> Role: {{data.role}}</p>
 <p> Approved: {{data.approved}}</p>
 <p> Created On: {{data.createdOn}}</p>
<br>
<button class="logoutButton">LOG-OUT</button>
 <script>
  const logoutButton = document.querySelector(".logoutButton");
  logoutButton.addEventListener("click", async () => {
   const response = await fetch("/auth/logout", {
    method: "POST"
   });
   if (response.ok) {
    window.location.href = "/home"
   }
  })

</script>
</body>

</html>